<p>home works!</p>

<div class="container">
<table class="table table-striped">

	<thead>
	<tr>
    <td>Title</td>
    <td>Author</td> 
    </tr>
	</thead>

	<tbody>
		<tr *ngFor="let item of arr">

            <td>{{ item.name }}</td>
            <td>{{ item.author }}</td>
            <td>
            	<button class="btn btn-primary" [value]=item.id
            	(click)="onClick(item.id)"
            	 routerLink="/details">Click here</button>
            </td>
                                                      
        </tr>
	</tbody>
	
</table>

<button class="btn btn-primary" routerLink="/uploadBook">Add book</button>

</div>
