<div class="container p-5">

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" [value]="name" readonly="true">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Author</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" [value]="author" readonly="true">
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Summary</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [value]="summary" readonly="true"></textarea>
</div>



</div>